[submodule "SimplePreprocessor"]
	path = SimplePreprocessor
	url = https://github.com/kavigupta/SimplePreprocessor
[submodule "modules/dictp"]
	path = modules/dictp
	url = https://github.com/kavigupta/dictp.git
[submodule "circle-tree-system"]
	path = circle-tree-system
	url = https://github.com/kavigupta/circle-tree-system.git
[submodule "logic-game"]
	path = logic-game
	url = https://github.com/kavigupta/logic-game.git
[submodule "_resources/gerrymandering_data/congressional-election-results"]
	path = _resources/gerrymandering_data/congressional-election-results
	url = https://github.com/TimeMagazine/congressional-election-results.git
