---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.author %}
  <span class="post-author">by {{ page.author }}</span>
  {% endif %}
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

<div class="pagination">
  {% if page.previous %}
    <a class="pagination-item older" href="{{ page.previous.url | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
    <a class="pagination-item newer" href="{{ page.next.url | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
